.sidebar {
  flex: 1.2;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  text-decoration: none;
  text-underline-offset: 0;

  Link {
    text-decoration: none;
  }

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bolder;
      color: #6439ff;

      // img {
      //   font-size: 1px;
      //   font-weight: lighter;
      //   border-radius: 8px;
      // }
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 6px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 13px;
        cursor: pointer;
        text-underline-offset: 0;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }

        .logout {
          margin-top: 10px;
          padding-top: 10px;
        }
      }
    }
  }
}
